* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
	font-size: 3vw;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.game-container{
	width: 100%;
	height: 400px;
	max-width: 400px;
}

.grid-container{
	width: 100%;
	height: 100%;
	border: 1px solid #000000;
	box-sizing: border-box;
	padding: 5px;
}

.grid-row{
	width: 100%;
	height: 25%;
	border: 1px solid #000000;
	box-sizing: border-box;
}

.grid-cell{
	width: 25%;
	height: 100%;
	border: 1px solid #000000;
	float: left;
	box-sizing: border-box;
	text-align: center;
	font-size: 200%;
}

.score{
	text-align: center;
	font-size: 3vw;
}

.status{
	text-align: center;
	font-size: 2vw;
}

.column {
  float: left;
  padding: 10px;
}

.left{
	width: 35%;
}

.middle{
	width: 40%;
}

.right{
	width: 20%;
	font-size: 1.5vw;
	font-weight: bold;
}

/*For mobile*/
@media only screen and (max-width: 800px){
	.left, .middle, .right{
		width: 100%;
	}
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: block;
  clear: both;
}

button{
	border-radius: 12px;
	text-align: center;
	padding: 10px;
	cursor: pointer;
	background-color: #ffffff;
	font-weight: bold;

}

.footer{
	background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  font-size: 12px;
}